.addcard__form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.misc__container {
  display: flex;
  justify-content: space-between;
}

.valid,
.cvv {
  display: flex;
  flex-direction: column;
}
